/*Write your CSS in here*/
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900);

/*what we are styling*/
h1 {	
   /*how to style it*/
  /*color:purple;*/
  font-weight: 200;
  font-size: 70px;
  text-transform: uppercase;
  border-top: 5px solid;

}

body {

	background-color: #173241;
	color: #eefbfb;
	font-family: "source code pro";
	font-weight: 200;
}

img {
      height: 500px;
      border-radius: 50%;
}

#container {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}	


button {
    margin: 30px auto 0;
    padding: 20px 25px;
   background-color: #173241;
   color: #eefbfb;
   font-size: 14px;
   text-align: center;
   border: 1px solid #eefbfb;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 4px;	
   outline: none;



}

button:hover {
	transition: 0.3s;
   background-color:#eefbfb;
   color:#173241 ;
   text-decoration: underline;
}



p {
  font-size: 20px;

}
